@import "../sass/main";

.mainSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 7rem;
  padding: 2rem 1.5rem;

  .mat-card-header {
    display: flex;
    justify-content: center;

    .mat-card-title {
      font-weight: 300;
    }
  }

  &__card {

    &--style {
      border-radius: 1rem;
      max-height: 65rem;
    }

    &--body {


    }
  }
}
