@import "../sass/main";

.mainSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 7rem;
  padding: 2rem 1.5rem;

  .mat-card-header {
    display: flex;
    justify-content: center;

    .mat-card-title {
      font-weight: 300;
    }
  }

  &__card {

    &--style {
      border-radius: 1rem;
      max-height: 65rem;
    }

    &--table {

      &-header {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        color: $main-grey;
        align-items: center;
        justify-content: space-between;

        & div {
          display: flex;
          align-items: center;
        }

        & button {
          color: $main-grey;
        }
      }

      &-filterIcon {
        fill: $main-grey;
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }

      &-btnIcon {
        fill: $main-grey;
        width: 2.3rem;
        height: 2.3rem;
      }

      &-filter {
        margin-right: 8rem;
      }

      &-body {
        position: relative;
        overflow: auto;
        max-height: 52rem;

        table {
          width: 100%;
        }

        .mat-paginator {
          margin-bottom: 20px;
        }
      }
    }
  }
}
