<section class="topSection">
  <app-main-top-section></app-main-top-section>
</section>
<section class="mainSection">
  <div class="mainSection__card">
    <mat-card class="mainSection__card--style">
      <mat-card-header>
        <mat-card-title>Leave Portal</mat-card-title>
      </mat-card-header>

      <div class="mainSection__card--table">
        <div class="mainSection__card--table-header" [ngClass]="{ fixend : !hideSection }">
          <div *ngIf="hideSection">
            <svg class="mainSection__card--table-filterIcon">
              <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-funnel"></use>
            </svg>
            <mat-form-field class="mainSection__card--table-filter">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter table...">
            </mat-form-field>
          </div>
          <mat-form-field class="mainSection__card--table-filter" *ngIf="hideSection">
            <mat-select placeholder="Leave application states">
              <mat-option *ngFor="let leave of leaveSates" [value]="leave.value">
                {{leave.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent" (click)="showFrom()">
            <svg class="mainSection__card--table-btnIcon" *ngIf="hideSection">
              <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-add"></use>
            </svg>
            <svg class="mainSection__card--table-btnIcon" *ngIf="!hideSection">
              <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-view_list"></use>
            </svg>
            <span *ngIf="hideSection">Apply Leave</span>
            <span *ngIf="!hideSection">Show Leave States</span>
          </button>
        </div>

        <div class="mainSection__card--table-body animated" *ngIf="hideSection" [ngClass]="{'zoomInDown': hideSection}">
          <!--=== START OF LEAVE DATA TABLE ===-->
          <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="col2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> col2 </th>
              <td mat-cell *matCellDef="let element"> {{element.col2}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol2 </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          <!--=== END OF LEAVE DATA TABLE ===-->
        </div>
        <div class="mainSection__card--table-form animated" *ngIf="!hideSection" [ngClass]="{'zoomInDown': !hideSection}">
          <!--=== START OF LEAVE APPLICATION FORM ===-->
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <section class="mainSection__card-formTop">
              <mat-form-field>
                <mat-select placeholder="Leave type" #leaveTypeDrop="ngModel" name="leaveType" [(ngModel)]="leaveType" required>
                  <mat-option *ngFor="let reason of leaveReasons" [value]="reason.value" >
                    {{reason.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="leaveTypeDrop.hasError('required')">Select a leave type!</mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput [min]="minDate1" [matDatepicker]="picker" #startingDate="ngModel" [(ngModel)]="startDate" (ngModelChange)="dateChanged($event)" name="startDate" placeholder="Choose start date" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error *ngIf="startingDate.hasError('required')">Insert starting date!</mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput [min]="minDate2" [matDatepicker]="picker2" #endingDate="ngModel" [(ngModel)]="endDate" name="endDate" placeholder="Choose end date" readonly required>
                <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="disableDate"></mat-datepicker-toggle>
                <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                <mat-error *ngIf="endingDate.hasError('required')">Insert ending date!</mat-error>
              </mat-form-field>
            </section>
            <mat-divider [inset]="true"></mat-divider>
            <section class="mainSection__card-formBottom">
              <div class="mainSection__card-formBottom--left">
                <mat-form-field>
                  <input type="text" prefix="+254 " mask="(000) 000 000" matInput placeholder="Enter contact number" name="phoneNumber" [ngModel]="phoneNumber">
                </mat-form-field>

                <mat-slide-toggle [(ngModel)]="attachment" [ngModelOptions]="{standalone: true}" color="warn">Attach file</mat-slide-toggle>
                <div class="animated" [ngClass]="{'fadeInDown': attachment, 'fadeOutUp': !attachment }">
                  <input type="file" placeholder="Attach file"  >
                </div>
              </div>
              <div class="mainSection__card-formBottom--right">
                <mat-form-field *ngIf="leaveType !== 'Annual leave'" >
                  <textarea matInput placeholder="Reason for leave" rows="7" name="reason" #leaveReason="ngModel" [ngModel]="reason" required></textarea>
                  <mat-error *ngIf="leaveReason.hasError('required')">Insert reason for leave!</mat-error>
                </mat-form-field>
              </div>
            </section>
            <button type="submit" mat-raised-button>Apply leave</button>
          </form>
          <!--=== END OF LEAVE APPLICATION FORM ===-->
        </div>
      </div>
    </mat-card>
  </div>
</section>
