<section class="topSection">
  <app-main-top-section></app-main-top-section>
</section>
<section class="mainSection">
  <div class="mainSection__card">
    <mat-card class="mainSection__card--style">
      <form class="mainSection__card--style-form">
        <mat-form-field class="mainSection__card--style-formField">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="mainSection__card--style-formField">
          <input type="password" matInput placeholder="Password">
        </mat-form-field>

        <button mat-raised-button color="accent">Login</button>

      </form>
    </mat-card>
  </div>
</section>
