<section class="topSection">
  <app-main-top-section></app-main-top-section>
</section>
<section class="mainSection">
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <div class="mainSection_card--icon">
          <img src="../../assets/icons/leave.svg" alt="">
        </div>
      </div>

      <div class="mainSection_card--title">
        <span>Leave portal</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <div class="mainSection_card--icon">
          <img src="../../assets/icons/travel_cash-application.svg" alt="">
        </div>
      </div>

      <div class="mainSection_card--title">
        <span>Travel & cash Exp application</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <div class="mainSection_card--icon">
          <img src="../../assets/icons/travel_cash_approval.svg" alt="">
        </div>
      </div>

      <div class="mainSection_card--title">
        <span>Travel & cash Exp approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <div class="mainSection_card--icon">
          <img src="../../assets/icons/merchandise_approval.svg" alt="">
        </div>
      </div>

      <div class="mainSection_card--title">
        <span>Merchandise Approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <div class="mainSection_card--icon">
          <img src="../../assets/icons/non-merchandise_approval.svg" alt="">
        </div>
      </div>

      <div class="mainSection_card--title">
        <span>Non merchandise Approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>

</section>

