<section class="topSection">
  <app-main-top-section></app-main-top-section>
</section>
<section class="mainSection">
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">
      <div class="mainSection_card--iconBorder">
        <svg class="mainSection_card--icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-pool"></use>
        </svg>
      </div>

      <div class="mainSection_card--title">
        <span>Leave portal</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">

      <div class="mainSection_card--iconAddon">
        <svg class="mainSection_card--iconAddon-icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-add_circle"></use>
        </svg>
      </div>
      <div class="mainSection_card--iconBorder">
        <svg class="mainSection_card--icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-airport_shuttle"></use>
        </svg>
      </div>

      <div class="mainSection_card--title">
        <span>Travel & cash Exp application</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">

      <div class="mainSection_card--iconAddon">
        <svg class="mainSection_card--iconAddon-icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-check_circle"></use>
        </svg>
      </div>
      <div class="mainSection_card--iconBorder">
        <svg class="mainSection_card--icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-airport_shuttle"></use>
        </svg>
      </div>

      <div class="mainSection_card--title">
        <span>Travel & cash Exp approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">

      <div class="mainSection_card--iconAddon">
        <svg class="mainSection_card--iconAddon-icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-check_circle"></use>
        </svg>
      </div>
      <div class="mainSection_card--iconBorder">
        <svg class="mainSection_card--icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-box"></use>
        </svg>
      </div>

      <div class="mainSection_card--title">
        <span>Merchandise Approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>
  <div class="mainSection_card">
    <mat-card class="mainSection_card--style">

      <div class="mainSection_card--iconAddon">
        <svg class="mainSection_card--iconAddon-icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-check_circle"></use>
        </svg>
      </div>
      <div class="mainSection_card--iconBorder">
        <svg class="mainSection_card--icon">
          <use xlink:href="../../assets/icons/dashboard-icons.svg#icon-archive"></use>
        </svg>
      </div>

      <div class="mainSection_card--title">
        <span>Non merchandise Approval</span>
      </div>

      <div class="mainSection_card--button">
        <span class="mainSection_card--button-visible">See details</span>
        <span class="mainSection_card--button-invisible">Click to login</span>
      </div>
    </mat-card>
  </div>

</section>

