@import "../sass/main";

.mainSection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  top: 7rem;
  padding: 2rem 1.5rem ;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 86vh;

  &_card {
    overflow: hidden;
    width: 26rem;
    min-height: 29rem;
    margin: 1rem 3rem;

    @media (max-width: $bp-largest ) {
      width: 24rem;
    }

    @media (max-width: $bp-large ) {
      width: 20rem;
    }

    @media (max-width: $bp-medium ) {
      width: 16rem;
      min-height: 23.5rem;
      margin: 1rem 1.5rem;
    }

    &--style {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2.6rem;
      border-radius: 10px;
      position: relative;
    }

    &--iconAddon {
      position: absolute;
      background-color: $light-background-yellow;
      border-radius: 50%;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 15.5rem;
      top: 2.5rem;

      @media (max-width: $bp-largest ) {
        left: 14.5rem;
      }

      @media (max-width: $bp-large ) {
        left: 13rem;
      }

      @media (max-width: $bp-medium ) {
        left: 9.7rem;
        width: 2.5rem;
        height: 2.5rem;
      }

      &-icon {
        fill: $white;
        width: 4.5rem;
        height: 4.5rem;

        @media (max-width: $bp-medium ) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }

    &--iconBorder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      border: solid 2px $light-background-yellow;

      &:hover,
      &:active,
      &:focus {
        outline: none;
      }

      @media (max-width: $bp-medium ) {
        width: 8rem;
        height: 8rem;
      }
    }

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 11rem;
      height: 11rem;
      padding: 1.2rem;
      overflow: hidden;
      fill: $white;
      background-color: green;
      border-radius: 50%;
      cursor: pointer;

      @media (max-width: $bp-medium ) {
        width: 7rem;
        height: 7rem;
      }

      & img {
        max-width: 56%;
      }
    }

    &--title {
      position: relative;
      color: $main-grey;
      font-size: 1.5rem;
      font-weight: 300;
      display: block;
      width: 100%;
      height: 6rem;
      overflow: hidden;

      @media (max-width: $bp-large ) {
        font-size: 1.2rem;
      }

      @media (max-width: $bp-medium ) {
        font-size: 1.1rem;
      }

      & span {
        position: absolute;
        text-align: center;
        line-height: 2rem;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: $bp-medium ) {
          line-height: 1.4rem;
          width: 100%;
        }
      }
    }

    &--button {
      margin-bottom: 1rem !important;
      width: 90%;

      &:hover {
        background: linear-gradient(to bottom right, $light-button-yellow, $dark-button-yellow) no-repeat;
      }

    }
  }

}
