//MAIN PAGE COLORS VARIABLES
$black: #000;
$white: #fff;

$main-grey: #484846;
$light-grey1: lighten( $black, 60% );
$light-grey2: lighten( $black, 70% );

$main-green: #016002;

$dark-yellow: #fbc702;
$light-background-yellow: #f3d477;
$dark-button-yellow: #fbd13e;
$light-button-yellow: lighten(#f5d337, 25%);
