
//====== LOGIN PORTAL PAGE ======
@mixin loginMainSection {
  .mainSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    top: 7rem;
    min-height: 75%;
    padding: 2rem 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;

    &__addOn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.2rem;
      right: 44rem;
      background-color: $white;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      z-index: 3;

      &-img {
        width: 4rem;
        height: 4rem;
        fill: $dark-yellow;
      }

    }

    &__icon {
      position: absolute;
      top: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      border: 1px solid $dark-yellow;
      width: 13rem;
      height: 13rem;
      padding: 0 4px;
      background-color: $white;
      border-radius: 50%;

      &-background {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-green;
        width: 13rem;
        height: 12rem;
        border-radius: 50%;
      }

      &-img {
        width: 9rem;
        height: 9rem;
        fill: $white;
      }
    }

    &__card {
      width: 50rem;
      top: 7.5rem;
      position: absolute;

      &--style {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-header {
          font-weight: 300;
          text-align: center;
          color: $main-grey;
          margin-top: 51px !important;
        }

        &-form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 1.4rem;
          color: $main-grey;
          width: 29rem;
        }

        &-formField {
          margin: 1.5rem 0 2rem 0;
        }
      }

      &--button {
        margin-bottom: 1.2rem;
      }
    }
  }

}
